
.nav-hover {
   transition: color 0.3s ease, border-bottom 0.3s ease;
   border-bottom: 2px solid transparent;
 }

 .nav-hover:hover {
   color: #28a745 !important;
   border-bottom: 2px solid #28a745;
 }

 /* Add top margin to the section below navbar to prevent overlap */
 .hero-section {
   margin-top: 90px;
 }
 
 /* product cards */
 .product-card { border: 1px solid #ccc; border-radius: 6px; padding: 15px; margin-bottom: 20px; }
 .category-btn.active { background-color: #007bff; color: white; }


 /* contact */
 .main-contact{
   display: flex;
   align-items: center;
   justify-content: center;
   

 }